/* .about-container {
    max-width: 85%;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: #1f1f1f;
    border: 2px solid #444;
    border-radius: 12px;
    height: 450px;
  } */

  .about-subcontainer {
    max-width: 85%;
    margin: 40px auto;
    padding: 40px 30px;
    background-color: #1f1f1f;
    border: 2px solid #444;
    border-radius: 12px;
    height: 550px;
    
  }
  
  .about-heading {
    text-align: center;
    font-size: 2.5rem;
    /* margin-bottom: 40px; */
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .team-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    height: 250px;
  }
  
  .team-member {
    flex: 1 1 400px;
    max-width: 450px;
    background-color: #2b2b2b;
    border: 2px solid #555;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    height: 370px;
  }
  
  .team-member:hover {
    transform: scale(1.03);
  }
  
  .team-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #777;
  }
  
  .team-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .team-desc {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
  }
  